body {
    font-size: .9em;
}

.highlight {
    background-color: #F6F6F6;
}

.class > .sig-object {
    border-left: #0e84b5 solid 3px;
    border-radius: 0 0 0 3px;
}

/* Attributable stuff */
.py-attribute-table {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-api-background);
    margin-bottom: -1rem;
    border-radius: 3px 3px 0 0;
    border-left: #0e84b5 solid 3px;
}

.py-attribute-table-entry {
    list-style: None;
}

.py-attribute-table-column {
    flex: .5;
}

.py-attribute-table-column > span {
    font-weight: bold;
    margin-left: 1rem;
}

.py-attribute-table-badge {
    font-weight: bold;
    margin-right: .5rem;
}

/* Sidebar Stuff */
.sidebar-drawer {
    width: 0!important;
}

/* Main Div */
.main {
    justify-content: space-evenly!important;
}

/* Content Div */
.content {
    width: 50%!important;
}

/* Index Page Stuff */
.featuring-logo {
    width: 50%;
    align-self: flex-start;
    margin-top: 4rem;
}

.featuring-hr {
    margin-top: 2rem;
    opacity: 40%;
}

.index-featuring {
    margin-top: 2rem!important;
}

.index-featuring-list {
    list-style: none;
    margin-top: 1rem;
}

.index-featuring-list > li::before {
    content: '- ';
    font-weight: bold;
}

.index-featuring-list > li::before {
    content: '- ';
    font-weight: bold;
}

.index-section-header {
    margin-top: 2rem;
}

.index-apis-wrapper {
    display: flex;
    flex-direction: row;
}

.index-apis-section {
    margin-top: 2rem;
    margin-right: 4rem;
}

.index-display-none {
    display: none;
}

.index-changelog > .caption[role=heading] {
    display: none;
}

.index-changelog > ul > li::marker {
    content: '- ';
    font-weight: bold;
}