body {
    font-size: .9em;
}

.highlight {
    background-color: #F6F6F6;
}

.class > .sig-object {
    border-left: #0e84b5 solid 3px;
    border-radius: 0 0 0 3px;
}

.py-attribute-table {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-api-background);
    margin-bottom: -1rem;
    border-radius: 3px 3px 0 0;
    border-left: #0e84b5 solid 3px;
}

.py-attribute-table-entry {
    list-style: None;
}

.py-attribute-table-column {
    flex: .5;
}

.py-attribute-table-column > span {
    font-weight: bold;
    margin-left: 1rem;
}

.py-attribute-table-badge {
    font-weight: bold;
    margin-right: .5rem;
}