name: Build

on:
  push:
  pull_request:
    types: [opened, edited]

jobs:
  lib:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install CPython
        uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python-version}}

      - name: Install Deps
        run: |
          python -m ensurepip
          pip install wheel setuptools
          pip install -r requirements.txt

      - name: Build
        run: python setup.py sdist bdist_wheel

  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install CPython
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install Deps
        run: |
          sudo apt update
          sudo apt install -y libasound-dev portaudio19-dev libportaudio2 libportaudiocpp0
          python -m ensurepip
          pip install -r docs/requirements.txt
          pip install -r requirements.txt

      - name: Build Docs
        run: |
          cd docs
          make html

  lint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: install black
      run: |
        python -m ensurepip
        pip install black

    - name: run linter
      run: |
        black twitchio --line-length 120 --verbose --check
  
  pyright: # adapted from rapptz/discord.py's pyright lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.8' ]

    name: pyright ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up CPython ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        id: install-deps
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -U -r requirements.txt
      
      - name: Setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Run Pyright
        uses: jakebailey/pyright-action@v1
        with:
          version: '1.1.255'
          warnings: true
          no-comments: false