name: Build

on:
  push:
  pull_request:
    types: [opened, edited]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install CPython
        uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python-version}}

      - name: Install Deps
        run: |
          sudo apt update
          sudo apt install -y portaudio
          python -m ensurepip
          pip install wheel setuptools
          pip install -r requirements.txt
          pip install -r docs/requirements.txt

      - name: Build
        run: python setup.py sdist bdist_wheel

      - name: Build Docs
        run: |
          cd docs
          make html
